{% extends "observes/base.html" %}

{% block title %}
<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Observations Details
            </h1>
            <h2 class="subtitle">
                Now collecting {{ count }} VirusTotal Scans
            </h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="box column is-one-third">
        <img src={{ wc }} />
    </div>
    <div class="column is-two-thirds">
        <div class='title'>
            {{ hash.sha256 }}
        </div>
        <div class='subtitle'>
            {{ hash.name }}
        </div>
        <div class="columns">
            <div class='column is-one-quarter'>
                Registered
            </div>
            <div class='column is-three-quarter'>
                {{ hash.create_date }}
            </div>
        </div>
        <div class="columns">
            <div class='column is-one-quarter'>
                Last Scan
            </div>
            <div class='column is-three-quarter'>
                {{ scans.last.scan_date }}
            </div>
        </div>
    </div>
</div>
<div class="title">Aggregation</div>
<div class= "columns">
    <div class = "column is-one-fifth">
        <article class="message is-danger is-large">
            <div class="message-header">
                <p>Family <i class="fas fa-bug"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.0 %}
                {{avc.0.0}} : {{avc.0.1}}
                {% else %}
                None
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-warning is-large">
            <div class="message-header">
                <p>Type <i class="fas fa-laptop-code"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.1 %}
                {{avc.1.0}} : {{avc.1.1}}
                {% else %}
                None
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-success is-large">
            <div class="message-header">
                <p>Behavior <i class="fa fa-spider"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.2 %}
                {{avc.2.0}} : {{avc.2.1}}
                {% else %}
                None
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-primary is-large">
            <div class="message-header">
                <p>Class <i class="fa fa-viruses"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.3 %}
                {{avc.3.0}} : {{avc.3.1}}
                {% else %}
                None
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info is-large">
            <div class="message-header">
                <p>Other <i class="far fa-question-circle"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.4 %}
                {{avc.4.0}} : {{avc.4.1}}
                {% else %}
                None
                {% endif %}
            </div>
        </article>
    </div>
</div>
<div class = "title">Detections</div>
<div>
    <canvas id="lineChart" height="200" width="400"></canvas>
</div>
<script language="JavaScript">
    chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    var data = {
        labels: [{% for item in label %}
        new Date("{{item}}"),
        {% endfor %}],
        datasets: [{
                label: "Detections",
                data: {{ dets }},
                backgroundColor: chartColors.red,
                borderColor: chartColors.red,
        },{
                label: "Engines",
                data: {{ engs }},
                backgroundColor: chartColors.blue,
                borderColor: chartColors.blue,
        },
        ]
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var options = {
        scales: {
            xAxes: [{
            type: 'time',
            time: {
            displayFormats: {
            quarter: 'MMM YYYY'
            }
            }
            }]
        }
    };
    var lineChart = new Chart(ctx, {
        type:'line',
        data:data,
        options:options
    });
</script>
{% endblock %}