{% extends "observes/base.html" %}

{% block title %}
<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Observations Details
            </h1>
            <h2 class="subtitle">
                Now collecting {{ count }} VirusTotal Scans
            </h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="box column is-one-third">
        <img src={{ wc }} />
    </div>
    <div class="column is-two-thirds">
        <div class='title'>
            {{ hash.sha256 }}
        </div>
        <div class='subtitle'>
            {{ hash.name }}
        </div>
        <div class="columns">
            <div class="column is-half">
                <div class="columns">
                    <div class='column is-one-quarter'>
                        Registered
                    </div>
                    <div class='column is-three-quarter'>
                        {{ hash.create_date }}
                    </div>
                </div>
                <div class="columns">
                    <div class='column is-one-quarter'>
                        Last Scan
                    </div>
                    <div class='column is-three-quarter'>
                        {{ scans.last.scan_date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title pt-5">Aggregation</div>
<div class="subtitle">Suggests most likely malwaree family, types and behaviors</div>
<div class= "columns">
    <div class = "column is-one-fifth">
        <article class="message is-danger is-large">
            <div class="message-header">
                <p>Family <i class="fas fa-bug"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.0 %}
                {{avc.0.0}} : <span class="count" data-num="{{avc.0.1}}">{{avc.0.1|add:"-100"}}</span>
                {% else %}
                Not Available
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-warning is-large">
            <div class="message-header">
                <p>Type <i class="fas fa-laptop-code"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.1 %}
                {{avc.1.0}} : <span class="count" data-num="{{avc.1.1}}">{{avc.1.1|add:"-100"}}</span>
                {% else %}
                Not Available
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-success is-large">
            <div class="message-header">
                <p>Behavior <i class="fa fa-spider"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.2 %}
                {{avc.2.0}} : <span class="count" data-num="{{avc.2.1}}">{{avc.2.1|add:"-100"}}</span>
                {% else %}
                Not Available
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-primary is-large">
            <div class="message-header">
                <p>Class <i class="fa fa-viruses"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.3 %}
                {{avc.3.0}} : <span class="count" data-num="{{avc.3.1}}">{{avc.3.1|add:"-100"}}</span>
                {% else %}
                Not Available
                {% endif %}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info is-large">
            <div class="message-header">
                <p>Other <i class="far fa-question-circle"></i></p>
            </div>
            <div class="message-body">
                {% if  avc.4 %}
                {{avc.4.0}} : <span class="count" data-num="{{avc.4.1}}">{{avc.4.1|add:"-100"}}</span>
                {% else %}
                Not Available
                {% endif %}
            </div>
        </article>
    </div>
</div>
<div class = "title pt-5">Detections</div>
<div class="subtitle">Transition of positive counts and available engines</div>
<div>
    <canvas id="lineChart" height="200" width="400"></canvas>
</div>
<div class="title pt-5">Important Detection Reports</div>
<div class="subtitle">Gathered from past results</div>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Uncertainly (Entropy)</th>
            <th>Engine</th>
            <th>Report</th>
            <th>Suggested Families (from past reports)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in entropies%}
        <tr>
            <td>{{ item.entropy }}</td>
            <td>{{ item.engine }}</td>
            <td>{{ item.report }}</td>
            <td><canvas id="barChartEntropy-{{ forloop.counter0 }}" width="500" height="100"></canvas></td>
            <script>
                Chart.defaults.global.defaultFontSize = 18;
                // get palette from palette.js
                var ctx = document.getElementById("barChartEntropy-{{ forloop.counter0 }}").getContext("2d");
                var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        // labels: ['{{ item.engine }}'],
                        datasets: [
                            {% for key, value in item.vc.items %}
                            {
                                label: ['{{key}}'],
                                data: [{{value}}],
                            },
                            {% endfor %}
                        ]
                    },
                    options: {
                        tooltips: { enabled: false },
                        scales: {
                            xAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 1
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 1
                                }
                            }]
                        },
                        plugins: {
                            colorschemes: {
                                scheme: 'office.Equity6'
                            }
                        },
                        legend: {
                            display: true,
                        }
                    }
                })
            </script>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script language="JavaScript">
    Chart.defaults.global.defaultFontSize = 18;
    chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    var data = {
        labels: [{% for item in label %}
        new Date("{{item}}"),
        {% endfor %}],
        datasets: [{
                label: "Detections",
                data: {{ dets }},
                // backgroundColor: chartColors.red,
                // borderColor: chartColors.red,
                // pointBorderColor: chartColors.red,
                // pointBackgroundColor: chartColors.red,

        },{
                label: "Engines",
                data: {{ engs }},
                // backgroundColor: chartColors.blue,
                // borderColor: chartColors.blue,
                // pointBorderColor: chartColors.blue,
                // pointBackgroundColor: chartColors.blue,
        },
        ]
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var options = {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        quarter: 'MMM YYYY'
                    } 
                }
            }]
        },
        plugins: {
            colorschemes: {
                scheme: 'brewer.SetOne7'
            }
        }
    };
    var lineChart = new Chart(ctx, {
        type:'line',
        data:data,
        options:options
    });
</script>
{% endblock %}