{% extends "observes/base.html" %}
{% block content %}
{% if latest_hash_list %}

<h1 class="title">Latest Obserbations</h1>

{% for hash in latest_hash_list %}

<div class="card">
    <div class="card-content">
        <p class="title">
            <span class="is-danger">{{ hash.detection_of_hash.last.detections }}</span> ← {{ hash.detection_of_hash.first.detections }}
        </p>
        <p class="subtitle">
            <a href="{% url 'observes:detail' hash.sha256 %}">{{ hash.sha256 }}</a>
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                Last Analyzed at {{ hash.detection_of_hash.last.scan_date }}
            </span>
        </p>
        <p class="card-footer-item">
            <span>
                registered at {{ hash.create_date }}
            </span>
        </p>
    </footer>
</div>
<br>
{% endfor %}
{% else %}
<p>No hashs are available.</p>
{% endif %}

<!-- <div class="pagination">
    <span class="step-links">
        {% if latest_hash_list.has_previous %}
        <a href="?p=1">&laquo; first</a>
        <a href="?p={{ latest_hash_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_hash_list.number }} of {{ latest_hash_list.paginator.num_pages }}.
        </span>

        {% if latest_hash_list.has_next %}
        <a href="?p={{ latest_hash_list.next_page_number }}">next</a>
        <a href="?p={{ latest_hash_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->

<nav class="pagination is-centered">
    {% if latest_hash_list.has_previous %}
    <a class="pagination-previous" href="?page=
        {{ latest_hash_list.previous_page_number|stringformat:"d" }}{{ getvars }}{{ hashtag }}">Previous</a>
    {% else %}
    <a class="pagination-previous" disabled>Previous</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a class="pagination-next"
        href="?page={{ latest_hash_list.next_page_number|stringformat:"d" }}{{ getvars }}{{ hashtag }}">Next</a>
    {% else %}
    <a class="pagination-next" disabled>Next</a>
    {% endif %}

    <ul class="pagination-list">
        {% for page in latest_hash_list.paginator.page_range %}
        <li><a class="pagination-link{% ifequal page latest_hash_list.number %} is-current{% endifequal %}"
                href="?p={{ page|stringformat:"d" }}{{ getvars }}{{ hashtag }}">{{ page|stringformat:"d" }}</a></li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}
